/* === MODO OSCURO === */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

* {
	transition: background-color 0.3s, color 0.3s, border 0.3s, box-shadow 0.3s;
}

button,
.header_link a,
.boton-saludo,
.button_catalogo,
.boton-enviar,
.boton-telefono,
.boton-ubicacion {
	transition: background-color 0.3s, color 0.3s, outline 0.3s, transform 0.3s;
}

.header_link a:hover,
.boton-saludo:hover,
.button_catalogo:hover,
.boton-enviar:hover,
.boton-telefono:hover,
.boton-ubicacion:hover {
	transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.section_1_div_cont img,
.detalle-libro-img {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.b_contacto {
	background-color: #006b8f;
}

.header {
	background: linear-gradient(to bottom, #2b3d47, #3c4f5d);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	flex-wrap: wrap;
	align-items: center;
}

.header_h1 h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 2.8rem;
	padding: 10px;
	letter-spacing: 1.5px;
    color: #fff;
}

.parrafo {
	font-family: 'Dancing Script', cursive;
	letter-spacing: 0.5px;
	padding: 10px;
	color: #ddd;
}

.header_link{
	padding: 12px 8px;
	margin: auto;
}

.header_link a {
	margin: 5px;
	text-decoration: none;
	background-color: #006b8f;
	padding: 5px;
	color: #fff;
	border: 1px solid #004f66;
	letter-spacing: 1px;
	cursor: pointer;
}

.header_link a:hover {
	background-color: #004f66;
	border: 1px solid #222;
}

.section_05 {
	width: 100%;
	height: 85vh;
	display: flex;
	flex-direction: column;
	background-color: #2a4f55;
}

.section_05_div {
	padding-top: 10px;
	width: 100%;
	height: 100%;
}

.section_05_div h2 {
	font-size: 1.7rem;
	text-align: center;
	color: #f0f0f0;
	letter-spacing: 2px;
	margin-top: 50px;
}

.section_05_div p {
	padding: 5px;
	font-size: 1.2rem;
	margin-top: 25px;
	color: #d0d0d0;
	font-weight: bold;
}

.inframe {
	background: linear-gradient(to bottom, #3b5c64, #2b3d47);
	padding: 15px;
	width: 100%;
	height: 60%;
	padding-bottom: 10px;
}

.section_1 {
	background: linear-gradient(to bottom, #2b3d47, #3b5c64);
	width: 100%;
	height: 100%;
}

.section_1 h2 {
	text-align: center;
	padding: 20px;
	color: #fff;
}

.section_1_div {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.section_1_div_cont {
	background-color: #185f73;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	padding: 10px 20px;
	margin: 20px;
	box-shadow: 0 2px 4px #001e28;
}

.section_1_div_cont img {
	width: 12rem;
	height: 17rem;
	object-fit: cover;
}

.section_1_div_cont h3 {
	text-align: center;
	font-size: 1.1rem;
	padding: 5px;
	color: #f0f0f0;
	letter-spacing: 1px;
	margin-top: auto;
}

.h3_autor {
	font-size: 0.9rem !important;
}

.section_1_div_cont button {
	margin-top: auto;
	border: none;
	outline: none;
	padding: 5px;
	font-weight: bold;
	margin: 5px;
	letter-spacing: 2px;
	font-style: italic;
	width: 100%;
}

.section_1_div_cont button:hover {
	outline: 3px solid #004f66;
}

.a_vertodo {
	width: 100%;
	display: flex;
	justify-content: center;
}


.button_catalogo {
	border: none;
	outline: none;
	width: 60%;
	margin-top: 10px;
	padding: 5px;
	outline: 1px solid #555;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
	background-color: #3b5c64;
}

.button_catalogo:hover {
	outline: 1px solid #222;
	background-color: #2a4f55;
}

/* ABAJO FORMA PARTE DE CONTACTO */

.seccion-contacto {
	margin-bottom: -55px;
}

.h1_contacto {
	text-align: center;
	font-size: 2rem;
	padding: 15px;
	color: #fff;
}

.texto {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #ddd;
}

.formulario {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.boton-enviar {
	background-color: #004f66;
	border: none;
	border-radius: 20px;
	padding: 12px 40px;
	justify-content: center;
	cursor: pointer;
}

.boton-enviar:hover {
	background-color: #006b8f;
}

.boton-telefono:hover {
	background-color: #006b8f;
}

.boton-ubicacion:hover {
	background-color: #006b8f;
}

.seccion-contacto {
	text-align: center;
	padding: 20px;
	width: 100%;
	height: 100%;
}

.formulario input {
	padding: 12px 15px;
	border: none;
	border-radius: 20px;
	width: 250px;
	background-color: #2a4f55;
	font-size: 16px;
	text-align: center;
	color: #ddd;
}

.label_form {
	margin-top: 10px;
}

.contenedor-boton {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

textarea.form-control {
	padding: 12px 150px;
	border: none;
	margin-top: 30px;
	border-radius: 20px;
	width: 500px;
	background-color: #2a4f55;
	font-size: 16px;
	text-align: center;
	color: #ddd;
	resize: none;
}

.contenedor-botones {
	display: flex;
	gap: 100px;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	padding-left: 50px;
}

.grupo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.boton-telefono,
.boton-ubicacion {
	width: 80px;
	height: 80px;
	background-color: #004f66;
	color: white;
	border: none;
	border-radius: 50%;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.num-tel,
.ubicacion {
	margin-top: 10px;
	font-size: 16px;
	text-align: center;
}

footer {
	background-color: #222;
	padding: 20px 0;
	text-align: center;
	color: white;
}

.redes-sociales a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-size: 18px;
	transition: color 0.3s;
}

.redes-sociales a:hover {
	color: #00d6ff;
}

.formulario-login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario-login .grupo-formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario-login input {
	padding: 12px 15px;
	border: none;
	border-radius: 20px;
	width: 250px;
	background-color: #2a4f55;
	font-size: 16px;
	text-align: center;
	color: #ddd;
}

#mensaje {
	padding: 20px;
}

body.claro {
	background-color: #f5f5f5;
	color: #333;
}

body.oscuro {
	background-color: #121212;
	color: #fff;
}

button {
	padding: 10px;
	margin: 20px;
	cursor: pointer;
}

.zoom-libro {
	transition: transform 0.3s ease;
}

.zoom-activo {
	transform: scale(1.2);
	cursor: zoom
} 