*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.b_contacto{
	background-color: #0085b2;
}

.header {
	background : linear-gradient(to bottom ,#8cc2e1 ,#aad8fd );
	/*background-color: #aafdfa;*/
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	flex-wrap: wrap;
	align-items: center;
}

.header_h1 h1{
	font-family: 'Dancing Script', cursive;
	font-size: 2.8rem;
	padding: 10px;
	letter-spacing: 1.5px;
}

.header_link{
	padding: 8px;
	margin-top: 5px;
}

.header_link a{
	margin: 5px;
	text-decoration: none;
	background-color: #00d6ff;
	padding: 5px;
	color: #000;
	border: 1px solid #00b4cc;
	letter-spacing: 1px;
}

.header_link a:hover{
	background-color: #22d6ee;
	border: 1px solid #555;
}

.section_05{
	width: 100%;
	height: 85vh;
	display: flex;
	flex-direction: column;
	background-color: #8ce1de;
}

.section_05_div{
	padding-top: 10px;
	/*background : linear-gradient(to bottom ,#aafdfa ,#8ce1de );*/
	width: 100%;
	height: 100%;
}

.section_05_div h2{
	font-size: 2rem;
	text-align: center;
	color: #012835;
	letter-spacing: 2px;
}

.section_05_div p{
	padding: 5px;
	font-size: 1.5rem;
	margin-top: 25px;
	color: #001e28;
	font-weight: bold;
}

.inframe{
	background: linear-gradient(to bottom , #8ce1de , #0085b2);
	padding: 15px;
	width: 100%;
	height: 60%;
	padding-bottom: 10px;
}

.section_1{
	background: linear-gradient(to bottom, #0085b2, #8ce1de);
	width: 100%;
	height: 100%;
}

.section_1 h2{
	margin-left: 38%;
	align-content: center;
	padding: 20px;
	color: #fff;

}

.section_1_div{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.section_1_div_cont{
	background-color: #1fa9c4;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	padding: 10px 20px;
	margin: 20px;
	box-shadow: 0 2px 4px #001e28;
}

.section_1_div_cont img{
	width: 12rem;
	height: 17rem;
	object-fit: cover;

}

.section_1_div_cont h3{
	text-align: center;
	font-size: 1.1rem;
	padding: 5px;
	color: #000;
	letter-spacing: 1px;
	margin-top: auto;
}

.h3_autor{
	font-size: 0.9rem !important;
}


.section_1_div_cont button{
	margin-top: auto; 
	border: none;
	outline: none;
	padding: 5px;
	font-weight: bold;
	margin: 5px;
	letter-spacing: 2px;
	font-style: italic;
	width: 100%;
}

.section_1_div_cont button:hover{
	outline: 3px solid #006c91;
}


/* ABAJO FORMA PARTE DE CONTACTO*/

.h1_contacto {
	text-align: center;
	font-size: 2rem;
	padding: 15px;
  }

  .texto {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #333;
  }

  .formulario {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 20px;
  }

.boton-enviar {
	background-color: #00b4cc;
	border: none;
	border-radius: 20px;
	padding: 12px 40px;
	justify-content: center;
	cursor: pointer;
}

.boton-enviar:hover{
	background-color: #00d6ff;


}

.seccion-contacto {
	text-align: center; 
	padding: 20px;
	width: 100%;
	height: 100%;
}

.formulario input {
	padding: 12px 15px;
	border: none;
	border-radius: 20px;
	width: 250px;
	background-color: #f0f0f0;
	font-size: 16px;
	text-align: center;
}

.label_form {
	margin-top: 10px;
}

.contenedor-boton { /*para centrar el boton de enviar*/
	display: flex;
	justify-content: center;
}

.form-group {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

textarea.form-control {
	padding: 12px 15px;
	border: none;
	border-radius: 20px;
	width: 500px;
	background-color: #f0f0f0;
	font-size: 16px;
	text-align: center;
	resize: none; /* opcional: evita que lo agranden */
  }
 